<!DOCTYPE html>
<html lang="es">
    <head>
        <title>SQLITE demo</title>
    </head>
    <body>
        <h1>SQLITE3 Personas</h1>

        <form method="POST">
            <label>Nombre</label>
            <input type="text" name="nombre" id="nombre" required>
            <br>
            <label>Email</label>
            <input type="email" name="email" id="email" required>
            <br>
            <input type="submit" value="Insertar">
                        <a href="/">
                <button type="button">Regresar</button>
            </a>
        </form>
    </body>
</html>